<div class="dash-overlay" data-id="dash-overlay">
  <div data-id="modal" class="dash-modal <%= modalSize %> fade">
    <span data-id="close" class="modal-close">&times;</span>
    <div data-id="modal-flash-container"></div>
    <div data-id="view-container"></div>
  </div>
</div>
