<div data-id="modal" class="modal <%= modalSize %> fade">
  <div class="modal-table">
    <div class="modal-dialog">
      <div data-id="modal-inner" class="modal-inner">
        <div data-id="inner-view">
          <b data-id="close" class="close selectable float-right">×</b>
          <div data-id="modal-flash-container"></div>
          <div data-id="view-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
