<div class="dash-overlay" data-id="dash-overlay">
  <div data-id="modal" class="dash-modal <%= modalSize %> fade">
    <i data-id="close" class="dashing-icon dashing-icon--close modal-close"></i>
    <div data-id="modal-flash-container"></div>
    <div data-id="view-container" tabindex="1"></div>
  </div>
</div>
