<div class="modal-header"><h3>Example Navigation Modal</h3></div>
<div class="modal-content">
  <p>
    <div data-id="depth"></div><button data-action="pop-modal">Back</button>
  </p>
  <p>
    <button data-id="push-modal">Push</button>
  </p>
  <p>
    <button data-action="empty-modal">Empty</button>
  </p>
</div>
<div class="modal-footer">Footer content</div>
