/* Import dashing-core Libraries
  ================================================== */

//@import '../scripts/bower_components/dashing-core/sass/dashing-core';

/* Core Modal Styles
  ================================================== */

$modal-gutter: 1rem !default;

.prevent-scrolling {
  overflow: hidden;
}

.dash-overlay {
  background-color: rgba($black, 0.80);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.dash-modal {
  background-color: $white;
  margin: 1.5rem auto;
  max-width: 35rem;
  outline: 0;
  width: 90%;
  z-index: 1050;
  cursor: default;
  overflow: hidden;

  @media #{$tablet} {
    margin: 5rem auto 5rem auto;
  }

  &.modal-small {
    max-width: 25rem;
  }

  &.modal-large {
    max-width: 45rem;
  }

  .modal-header, .modal-content, .modal-footer {
    text-align: center;
    padding: $modal-gutter;

    hr {
      border: none;
      border-bottom: 2px solid $gray-150;
      margin: $modal-gutter (-$modal-gutter);
    }
  }

  .modal-close {
    @include user-select(none);
    float: right;
    font-size: 1.5rem;
    position: relative;
    line-height: 0;
    right: 1.5rem;
    top: 2rem;
    cursor: pointer;

    &:hover {
      color: $gray-500;
    }
  }

  .modal-header {
    border-bottom: 2px solid $gray-150;
  }

  .modal-content {
    p {
      font-size: $font-size-medium;
      margin: 0.5rem;
      line-height: 1.7rem;
      color: $gray-500;
    }
  }

  .modal-footer {
    background-color: $gray-100;
  }
}
